/*!
 * AppKitchens Style
 *
 * Copyright 2014 AppKitchens. All rights reserved.
 *
 * Author: Faris
 * Founder of AppKitchens
 * Follow @farishjazz @AppKitchens
 * 
 */

/* =======================================
  CUSTOM VARIABLES
======================================= */

$white: #ffffff;
$black: #000000;

/* =======================================
  MAIN STYLE
======================================= */

#loader {
  width: 100%;
  height: 100%;
  display: block;
  background: $black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;

  i, img {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
  }
}

/* =======================================
  CUSTOM STYLE
======================================= */

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

#sticky-bar {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.sticky { 
  width: 100%; 
  top: 0; 
  left: 0;
  bottom: auto;
  border-top: 0; 
  padding: 20px;
  z-index: 100;
  position: fixed;
} 

#maps {
  width: 100%;
  height: 300px;
  display: none;
}
