//- All mixin
mixin head(title)
  <!DOCTYPE html>
  <!--[if IE 8]><html id="root" class="ie8" lang="en-US"><![endif]-->
  <!--[if IE 9]><html id="root" class="ie9" lang="en-US"><![endif]-->
  <!--[if gt IE 9]><!--><html id="root" lang="en-US"><!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    title= title
    
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', type="text/css", media='all')
    link(rel='stylesheet', href='/assets/css/library.css', type="text/css", media='all')
    link(rel='stylesheet', href='/assets/css/appkitchens.style.css', type="text/css", media='all')

    script(type='text/javascript', src='/assets/js/jquery.js')
    script(type='text/javascript', src='/assets/js/appkitchens.script.js')

mixin loader
  #loader
    i.fa.fa-spinner.fa-spin.fa-5x
    
mixin contact
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
  #maps

mixin end
  </html>